##import data and required packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import the csv data

In [2]:
df=pd.read_csv('StudentsPerformance.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Shape of the dataset

In [4]:
df.shape

(1000, 8)

Dataset information

1gender:sex of the student:male/female
2 race/ethnicity:group A,group B ,group C, group D,E
3 parental level of education : parents' final education ->(bachelor'sdegree,some college,master's degree,associate's degree,high school)
4 lunch : having lunch before test (standard or free/reduced)
5 test preparation course : complete or not complete before test
6 math score
7 reading score
8 writing score

Data Checks to be performed
- Check Missing values
- Check duplicates
- check data type
- check number of unique values on each column
- check statistics of data set
- check various categories present in different catogorical columns

In [6]:
#Check for missing
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

No missing values in any column

In [7]:
#check for duplicates
df.duplicated().sum()

0

there are no duplicates

In [8]:
# check for null and datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
# check for uniques
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [11]:
#check for statistics
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [15]:
print("categories in 'gender' variable :  ",end="")
print(df['gender'].unique())

print("categories in 'race/ethnicity' variable: ",end="")
print(df['race/ethnicity'].unique())

print("categories in 'parental level of education' variable :  ",end="")
print(df['parental level of education'].unique())

print("categories in 'lunch' variable: ",end="")
print(df['lunch'].unique())

print("categories in 'test preparation course' variable: ",end="")
print(df['test preparation course'].unique())

categories in 'gender' variable :  ['female' 'male']
categories in 'race/ethnicity' variable: ['group B' 'group C' 'group A' 'group D' 'group E']
categories in 'parental level of education' variable :  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in 'lunch' variable: ['standard' 'free/reduced']
categories in 'test preparation course' variable: ['none' 'completed']

In [16]:
# Adding columns for total and avg score

df['total_score']=df['math score']+df['reading score']+ df['writing score']
df['avg_score']=(df['math score']+df['reading score']+ df['writing score'])/3

In [17]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,avg_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [19]:
reading_full=df[df['reading score']==100]['avg_score'].count()
writing_full=df[df['writing score']==100]['avg_score'].count()
math_full=df[df['math score']==100]['avg_score'].count()

print(f'number of students obtained full marks in reading: {reading_full}')
print(f'number of students obtained full marks in writing: {writing_full}')
print(f'number of students obtained full marks in math: {math_full}')

number of students obtained full marks in reading: 17
number of students obtained full marks in writing: 14
number of students obtained full marks in math: 7